/* Header og navigation */
header {
    display: flex;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
}

/* Flex container for navigation indhold */
.navigation-container-forside {
    display: flex;
}

.navigation-indhold {
    display: flex;
}

/* Flexbox for navigationspunkter */
.navigationspunkter {
    display: flex;
    align-items: center;
    gap: 30px; /* Afstand mellem hver menu-item */
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 200px;
}

/* Styling af links i navigationen */
.navigation-container-forside ul li a {
    font-family: Helvetica, sans-serif;
    color: #ff9100;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.navigation-container-forside ul li a:hover, 
.navigation-container-forside ul li a.active {
    color: #d4342b;
}

/* Søgefelt */
.soegefelt {
    font-family: Helvetica, sans-serif;
    padding: 8px;
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 140px;
}

/* Søgeknap */
.soegeknap {
    font-family: Helvetica, sans-serif;
    color: gray;
    font-weight: bold;
    padding: 5px 10px;
    background-color: #ccc;
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 20px;
    cursor: pointer;
}

.soegeknap:hover {
    color: #d4342b;
}

/* Knap til at blive frivillig */
.bliv-frivillig-knap {
    background-color: #93c7f3;
    color: #ffffff;
    padding: 8px 15px;
    font-size: 12px;
    border-radius: 20px;
    text-decoration: none;
}


/* Banner sektion */
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.banner img {
    width: 100%;
}

.banner h1 {
    position: absolute;
    color: #ffffff;
    font-size: 48px;
    z-index: 1; /* Sørger for at tekst er over billedet */
}

/* Hvem er vi sektion */
.hvem-er-vi {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding: 40px 0;
}

.hvem-er-vi h2 {
    color: #ff9100;
    font-size: 48px;
    font-family: Helvetica, sans-serif
}

.hvem-er-vi p {
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    padding-left: 150px;
    padding-right: 150px;
    max-width: 800px;
}

/* Læs mere knap */
.laes-mere-knap {
    color: #ffffff;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    background-color: #d4342b;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
}

.laes-mere-knap:hover {
    background-color: #ff9100;
}

/* Handlinger sektion */
.handlinger {
    display: flex;
    justify-content: space-around; /* Gør at elementerne bliver spredt ud */
    align-items: flex-start;
    padding: 40px 0;
}

.handling-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
}

/* Billederne i handlinger sektionen */
.billede-frivillig, .billede-doner, .billede-test {
    width: 100%;
    border-radius: 10px;
}

/* Kald til handling knap i handlinger sektionen */
.kald-til-handling-knap {
    font-family: Helvetica, sans-serif;
    background-color: #d4342b;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
    margin-top: 15px;
    font-size: 18px;
}

.kald-til-handling-knap:hover {
    background-color: #ff9100;
}



<<<<<<< HEAD



/* JS-funktion på forsiden - billedslide */



/* JS-funktion på forsiden - søgefunktion */


/* CSS til frivillighed-siden */ 
=======
.kald-til-handling-knap:hover {
    background-color: #ff9100;
}
>>>>>>> 0353807831b26f2115e710af676678c38d48715b

.frivillighedh1 { /* Mød en af vores frivillige*/
    text-align: center;
    font-size: 48px;
    font-family: merriweather; 
    color: #ff9100;  
}

.frivillighedh2 { /* "Hør, hvordan det er at være frivillig i Red Barnet Ungdom" */
    text-align: center;
    font-family: merriweather; 
    margin-top: -20px;
}

.frivillighedh3 { /* "Aktiviteter og events i Red Barnet Ungdom" */
    text-align: center;
    font-family: merriweather;
    color: #ff9100; 
    font-size: 48px;
    margin-top: 150px;
}

.frivillighedbillede123 { /* De 3 første billeder i slideshowet */
    display: flex;
    justify-content: center; 
    gap: 100px;
}

.frivillighedbillede1 { /* Billede af Løbeklubben */
    height: 280px;
    width: 300px; 
}

.frivillighedh5 { /* Overskriften til hvert af de 3 billeder */
    font-family: merriweather;
    font-size: 25px;
    margin-top: 0px;
}

.frivillighedbroedtekst { /* Brødtekst til hvert af de 3 billeder */ 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    width: 300px; 
    margin-top: -30px;
}

.frivillighedbillede2 { /* Billede af Keramik */
    height: 280px;
    width: 300px; 
}

.frivillighedbillede3 { /* Billede af barnets ven */
    height: 280px;
    width: 300px; 
}

/* CSS til footeren */
.footer {
    background-color: #93c7f3;
}

.footercontent {
    display: flex;
    gap: 200px;
    margin-left: 200px;

}
.sektion1 { 
    font-family: Arial, Helvetica, sans-serif; 
    
}

.liste li { 
    margin-bottom: 5px;
    padding: 0;
    list-style-type: none; 
    padding-left: 0; 
    font-family: Arial, Helvetica, sans-serif;    
} 

.sektion2 {
    font-family: Arial, Helvetica, sans-serif; 
}

.sektion3 {
    margin-left: 70px;
    font-family: Arial, Helvetica, sans-serif;
}

.copy {
    font-family: Arial, Helvetica, sans-serif; 
    text-align: center;
    color: lightgrey;
    background-color: #6E95B6; 
    
}

.question {
    display: none;
}
.active {
    display: block;
}
.progress-container {
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 25px;
    margin: 20px 0;
}
.progress-bar {
    width: 0%;
    height: 20px;
    background-color: #6E95B6;
    border-radius: 25px;
}